target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

!.idea/codeStyles/
!.idea/codeStyles/*
!.idea/checkstyle-idea.xml
!.idea/codeInsightSettings.xml
!.idea/codeStyleSettings.xml
!.idea/inspectionProfiles
!.idea/inspectionProfiles/Project_Default.xml
